{% extends 'blogapp/base.html' %}
{% load static %}
{% block load %}
    <link rel="stylesheet" href="{% static 'blogapp/css/article.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/github.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/codehilite.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/tasklist.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/linenum.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
    <script src="https://unpkg.com/mermaid@8.7.0/dist/mermaid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/mathtex-script-type.min.js" defer></script>
{% endblock %}
{% block body %}
    <h1 class="title">{{ article.title }}</h1>
    <section class="CatTag">
        {% if article.category_set.all %}
        <ul class="category">
            <li class="head">Categories:</li>
        {% for category in article.category_set.all %}
            <li class="body"><a href="{% url 'blogapp:detail_category' category.name_slug %}" class="bodya">{{ category.name }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
        {% if article.tag_set.all %}
        <ul>
            <li class="head">Tags:</li>
        {% for tag in article.tag_set.all %}
            <li class="body"><a href="{% url 'blogapp:detail_tag' tag.name_slug%}" class="bodya">{{ tag.name }}</a> </li>
        {% endfor %}
        </ul>
        {% endif %}
    </section>
    <section class="main_part">
        <article class="markdown-body">
            {{ text|safe }}
        </article>
    </section>
    <aside class="tocbar">
        {{ toc|safe }}
        {% csrf_token %}
        <input type="submit" value="点赞" id="like" class="dfahskjdfhaks">
    </aside>

{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    let btn = document.getElementById('like');
    btn.addEventListener('click', function (event) {
        if(btn.value === "点赞") {
            $.ajax({
                url: '../../like/',
                type: 'post',
                dataType: "json",
                data: {
                    name_slug: '{{ article.name_slug }}',
                    add: 1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            })
            btn.value = '取消点赞'
        }
        else{
           $.ajax({
               url: '../../like/',
               type: 'post',
               dataType: "json",
               data: {
                   name_slug: '{{ article.name_slug }}',
                   add: -1,
                   csrfmiddlewaretoken: '{{ csrf_token }}',
               },
           })
           btn.value = '点赞'
        }
    })
</script>
{% endblock %}
