{% extends 'blogapp/base.html' %}
{% load static %}
{% block load %}
    <link rel="stylesheet" href="{% static 'blogapp/css/tag.css' %}">
{% endblock %}
{% block body %}
    <h1>{{ tag.name }}</h1>
    <section class="blogs">
        {% for article in page_obj %}
            <a href="{% url 'blogapp:articles' article.name_slug %}">
                <article>
                    {% if article.image %}
                        <figure>
                            <img src="{{ article.image.url }}" alt="image" height="100px" width="180px">
                        </figure>
                    {% endif %}
                    <hgroup>
                        <h2>{{ article.title }}</h2>
                    </hgroup>
                    <p class="viewlike"><img src="{% static 'blogapp/image/view.svg' %}" alt="view"
                                             width="2%">{{ article.views }} <img
                            src="{% static 'blogapp/image/like.svg' %}" alt="view" width="2%">{{ article.likes }}</p>
                    <p class="outline">{{ article.outline }}</p>
                </article>
            </a>
        {% endfor %}
<span class="step-links">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</span>
    </section>
    <aside>
        <section class="tags">
        <h2>Tags</h2>
        {% for tag in allTag %}
            <a href="{% url 'blogapp:detail_tag' tag.name_slug %}">{{ tag.name }}</a>
        {% endfor %}
    </section>
    </aside>
{% endblock %}